<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="app/categories/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      About New Zealand
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="categories-list">
    <ion-col size="12">
      <h3 class="detail-title">Country Size</h3>
      <p class="details-description">
        
      </p>
    </ion-col>
    <ion-col size="12">
      <h3 class="detail-title">Population</h3>
      <p class="details-description">
        
      </p>
    </ion-col>
    <ion-col size="12">
      <h3 class="detail-title">Peace Index</h3>
      <p class="details-description">
        
      </p>
    </ion-col>
    <ion-col size="12">
      <h3 class="detail-title">Cultural Diversification</h3>
      <p class="details-description">
        
      </p>
    </ion-col>
    <ion-col size="12">
      <h3 class="detail-title">Beautiful View</h3>
      <p class="details-description">
        
      </p>
    </ion-col>
    <ion-col size="12">
      <h3 class="detail-title">Country Map</h3>
      <p class="details-description">
        
      </p>
    </ion-col>
    <ion-col size="12">
      <h3 class="detail-title">Main Study Abroad Cities</h3>
      <p class="details-description">
        
      </p>
    </ion-col>
  </ion-row>
</ion-content>
