<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Main Menu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="categories-list">
    <ion-col class="category-item travel-category" size="12">
      <app-image-shell [display]="'cover'" class="category-cover" animation="spinner" >
        <app-aspect-ratio [ratio]="{w:75, h:49}">
          <a class="category-anchor" [routerLink]="['/app/categories/tertiaryalt']">
            <h2 class="category-title">Ad here</h2>
          </a>
        </app-aspect-ratio>
      </app-image-shell>
    </ion-col>
    <ion-col class="category-item travel-category" size="6">
      <app-image-shell [display]="'cover'" class="category-cover" animation="spinner" [src]="'./assets/PEAL/nzuniversity.jpg'">
        <app-aspect-ratio [ratio]="{w:75, h:75}">
          <a class="category-anchor" [routerLink]="['/app/categories/tertiaryalt']">
            <h2 class="category-title">Tertiary Education</h2>
          </a>
        </app-aspect-ratio>
      </app-image-shell>
    </ion-col>
    <ion-col class="category-item food-category" size="6">
      <app-image-shell [display]="'cover'" class="category-cover" animation="spinner" [src]="'./assets/PEAL/nzcollege.jpg'">
        <app-aspect-ratio [ratio]="{w:75, h:75}">
          <a class="category-anchor" [routerLink]="['/app/categories/collegemenu']">
            <h2 class="category-title">New Zealand Colleges</h2>
          </a>
        </app-aspect-ratio>
      </app-image-shell>
    </ion-col>  
    <ion-col class="category-item deals-category" size="6">
      <app-image-shell [display]="'cover'" class="category-cover" animation="spinner" [src]="'./assets/PEAL/coop.jpeg'">
        <app-aspect-ratio [ratio]="{w:75, h:75}">
          <a class="category-anchor" [routerLink]="['/app/categories/coopmenu']">
            <h2 class="category-title">Education Cooperation</h2>
          </a>
        </app-aspect-ratio>
      </app-image-shell>
    </ion-col>
    <ion-col class="category-item real-estate-category" size="6">
      <app-image-shell [display]="'cover'" class="category-cover" animation="spinner" [src]="'./assets/PEAL/nzflag.png'">
        <app-aspect-ratio [ratio]="{w:75, h:75}">
          <a class="category-anchor" [routerLink]="['/app/categories/country']">
            <h2 class="category-title">New Zealand Overview</h2>
          </a>
        </app-aspect-ratio>
      </app-image-shell>
    </ion-col>
    <ion-col class="category-item real-estate-category" size="6">
      <app-image-shell [display]="'cover'" class="category-cover" animation="spinner" [src]="'./assets/PEAL/nzedu.png'">
        <app-aspect-ratio [ratio]="{w:75, h:75}">
          <a class="category-anchor" [routerLink]="['/app/categories/edusystem']">
            <h2 class="category-title">New Zealand Education System</h2>
          </a>
        </app-aspect-ratio>
      </app-image-shell>
    </ion-col>    <ion-col class="category-item real-estate-category" size="6">
      <app-image-shell [display]="'cover'" class="category-cover" animation="spinner" [src]="'./assets/PEAL/ranking.jpeg'">
        <app-aspect-ratio [ratio]="{w:75, h:75}">
          <a class="category-anchor" [routerLink]="['/app/categories/ranking']">
            <h2 class="category-title">New Zealand University Ranking Overview</h2>
          </a>
        </app-aspect-ratio>
      </app-image-shell>
    </ion-col>
    <ion-col class="category-item real-estate-category" size="6">
      <app-image-shell [display]="'cover'" class="category-cover" animation="spinner" [src]="'./assets/PEAL/upgrade.jpeg'">
        <app-aspect-ratio [ratio]="{w:75, h:75}">
          <a class="category-anchor" [routerLink]="['/app/categories/upgrade']">
            <h2 class="category-title">Qualification Upgrade</h2>
          </a>
        </app-aspect-ratio>
      </app-image-shell>
    </ion-col>
    <ion-col class="category-item real-estate-category" size="6">
      <app-image-shell [display]="'cover'" class="category-cover" animation="spinner" [src]="'./assets/PEAL/studlife.jpeg'">
        <app-aspect-ratio [ratio]="{w:75, h:75}">
          <a class="category-anchor" [routerLink]="['/app/categories/studlife']">
            <h2 class="category-title">Study Life Assistance</h2>
          </a>
        </app-aspect-ratio>
      </app-image-shell>
    </ion-col>
  </ion-row>
</ion-content>

<!-- <ion-content>
  <ion-row class="categories-list">
    <ion-col class="category-item travel-category" size="6">
      <app-image-shell [display]="'cover'" class="category-cover" animation="spinner" [src]="'./assets/PEAL/nzuniversity.jpg'">
        <app-aspect-ratio [ratio]="{w:75, h:75}">
          <a class="category-anchor" [routerLink]="['/app/categories/tertiaryalt']">
            <h2 class="category-title">Tertiary Education</h2>
          </a>
        </app-aspect-ratio>
      </app-image-shell>
    </ion-col>
    <ion-col class="category-item food-category" size="6">
      <app-image-shell [display]="'cover'" class="category-cover" animation="spinner" [src]="'./assets/PEAL/nzcollege.jpg'">
        <app-aspect-ratio [ratio]="{w:75, h:75}">
          <a class="category-anchor" [routerLink]="['/app/categories/collegemenu']">
            <h2 class="category-title">New Zealand Colleges</h2>
          </a>
        </app-aspect-ratio>
      </app-image-shell>
    </ion-col>
    <ion-col class="category-item deals-category" size="6">
      <app-image-shell [display]="'cover'" class="category-cover" animation="spinner" [src]="'./assets/PEAL/coop.jpeg'">
        <app-aspect-ratio [ratio]="{w:75, h:75}">
          <a class="category-anchor" [routerLink]="['/app/categories/coopmenu']">
            <h2 class="category-title">Education Cooperation</h2>
          </a>
        </app-aspect-ratio>
      </app-image-shell>
    </ion-col>
    <ion-col class="category-item real-estate-category" size="6">
      <app-image-shell [display]="'cover'" class="category-cover" animation="spinner" [src]="'./assets/PEAL/nzflag.png'">
        <app-aspect-ratio [ratio]="{w:75, h:75}">
          <a class="category-anchor" [routerLink]="['/app/categories/country']">
            <h2 class="category-title">New Zealand Overview</h2>
          </a>
        </app-aspect-ratio>
      </app-image-shell>
    </ion-col>
    <ion-col class="category-item real-estate-category" size="6">
      <app-image-shell [display]="'cover'" class="category-cover" animation="spinner" [src]="'./assets/PEAL/nzedu.png'">
        <app-aspect-ratio [ratio]="{w:75, h:75}">
          <a class="category-anchor" [routerLink]="['/app/categories/edusystem']">
            <h2 class="category-title">New Zealand Education System</h2>
          </a>
        </app-aspect-ratio>
      </app-image-shell>
    </ion-col>    <ion-col class="category-item real-estate-category" size="6">
      <app-image-shell [display]="'cover'" class="category-cover" animation="spinner" [src]="'./assets/PEAL/ranking.jpeg'">
        <app-aspect-ratio [ratio]="{w:75, h:75}">
          <a class="category-anchor" [routerLink]="['/app/categories/ranking']">
            <h2 class="category-title">New Zealand University Ranking Overview</h2>
          </a>
        </app-aspect-ratio>
      </app-image-shell>
    </ion-col>
    <ion-col class="category-item real-estate-category" size="6">
      <app-image-shell [display]="'cover'" class="category-cover" animation="spinner" [src]="'./assets/PEAL/upgrade.jpeg'">
        <app-aspect-ratio [ratio]="{w:75, h:75}">
          <a class="category-anchor" [routerLink]="['/app/categories/upgrade']">
            <h2 class="category-title">Qualification Upgrade</h2>
          </a>
        </app-aspect-ratio>
      </app-image-shell>
    </ion-col>
    <ion-col class="category-item real-estate-category" size="6">
      <app-image-shell [display]="'cover'" class="category-cover" animation="spinner" [src]="'./assets/PEAL/studlife.jpeg'">
        <app-aspect-ratio [ratio]="{w:75, h:75}">
          <a class="category-anchor" [routerLink]="['/app/categories/studlife']">
            <h2 class="category-title">Study Life Assistance</h2>
          </a>
        </app-aspect-ratio>
      </app-image-shell>
    </ion-col>
  </ion-row>
</ion-content> -->
