<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="app/categories"></ion-back-button>
    </ion-buttons>
    <ion-title>Tertiary Education</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="deals-listing-content">
  <ng-container>
    <div class="listing-item">
      <ion-row class="middle-row">
        <ion-col class="info-col">
          <h4 class="item-name">
            <a class="name-anchor" [routerLink]="['/app/categories/university/']">
              Universities Full List
            </a>
          </h4>
        </ion-col>
      </ion-row>
    </div>
    <div class="listing-item">
      <ion-row class="middle-row">
        <ion-col class="info-col">
          <h4 class="item-name">
            <a class="name-anchor" [routerLink]="['/app/categories/polytech/']">
              Polytechnics Full List
            </a>
          </h4>
        </ion-col>
      </ion-row>
    </div>
    <div class="listing-item">
      <ion-row class="middle-row">
        <ion-col class="info-col">
          <h4 class="item-name">
            <a class="name-anchor" [routerLink]="['/app/categories/gap/']">
              General Application Process
            </a>
          </h4>
        </ion-col>
      </ion-row>
    </div>
    <div class="listing-item">
      <ion-row class="middle-row">
        <ion-col class="info-col">
          <h4 class="item-name">
            <a class="name-anchor" [routerLink]="['/app/categories/gapdocs/']">
              General Application Process Supporting Documents
            </a>
          </h4>
        </ion-col>
      </ion-row>
    </div>
  </ng-container>
</ion-content>

<!-- <ion-content class="deals-listing-content">
  <ng-container>
    <div class="listing-item">
      <ion-row class="middle-row">
        <ion-col class="info-col">
          <h4 class="item-name">
            <a class="name-anchor" [routerLink]="['/app/categories/university']">
              Universities
            </a>
          </h4>
        </ion-col>
        <ion-col class="call-to-action-col">
          <ion-button class="claim-button" expand="block" color="claim" [routerLink]="['/app/categories/university']">
            <span class="button-cta">View List</span>
            <ion-icon slot="end" name="arrow-forward"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
    <div class="listing-item">
      <ion-row class="middle-row">
        <ion-col class="info-col">
          <h4 class="item-name">
            <a class="name-anchor" [routerLink]="['/app/categories/university']">
              Polytechnics
            </a>
          </h4>
        </ion-col>
        <ion-col class="call-to-action-col">
          <ion-button class="claim-button" expand="block" color="claim" [routerLink]="['/app/categories/university']">
            <span class="button-cta">View List</span>
            <ion-icon slot="end" name="arrow-forward"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
    <div class="listing-item">
      <ion-row class="middle-row">
        <ion-col class="info-col">
          <h4 class="item-name">
            <a class="name-anchor" [routerLink]="['/app/categories/university']">
              General Application Process
            </a>
          </h4>
        </ion-col>
        <ion-col class="call-to-action-col">
          <ion-button class="claim-button" expand="block" color="claim" [routerLink]="['/app/categories/university']">
            <span class="button-cta">Learn More</span>
            <ion-icon slot="end" name="arrow-forward"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
    <div class="listing-item">
      <ion-row class="middle-row">
        <ion-col class="info-col">
          <h4 class="item-name">
            <a class="name-anchor" [routerLink]="['/app/categories/university']">
              General Application Process Supporting Documents
            </a>
          </h4>
        </ion-col>
        <ion-col class="call-to-action-col">
          <ion-button class="claim-button" expand="block" color="claim" [routerLink]="['/app/categories/university']">
            <span class="button-cta">Learn More</span>
            <ion-icon slot="end" name="arrow-forward"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ng-container>
</ion-content> -->
