<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="app/categories/collegemenu"></ion-back-button>
    </ion-buttons>
    <ion-title>High Schools</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="deals-listing-content">
  <ng-container *ngIf="items">
    <div class="listing-item" *ngFor="let item of items">
      <ion-row class="top-row">
        <ion-col class="logo-col" size="6">
<!--           <app-aspect-ratio [ratio]="{w: 128, h: 32}">
            <app-image-shell [src]="item.logo" [alt]="'deals logo'" class="deal-logo" animation="spinner"></app-image-shell>
          </app-aspect-ratio> -->
        </ion-col>
        <ion-col class="call-to-action-col">
          <ion-button class="claim-button" expand="block" color="claim" [routerLink]="['/app/categories/college/', item.slug]">
            <span class="button-cta">Learn More</span>
            <ion-icon slot="end" name="arrow-forward"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="middle-row">
        <ion-col class="info-col">
          <h4 class="item-name">
            <a class="name-anchor" [routerLink]="['/app/categories/college/', item.slug]">
              {{item.name}}
            </a>
          </h4>
          <p class="item-description">
            {{item.description}}
          </p>
        </ion-col>
      </ion-row>
      <ion-row class="bottom-row">

      </ion-row>
    </div>
  </ng-container>
</ion-content>
